.login{
  margin: 0 auto;
  padding: 0 25%;
}

.login form input{
  margin: 20px auto;
}

.v-enter,.v-leave-to{
  opacity: 0;
}
.v-enter-active,.v-leave-active{
  transition: all 0.1s linear;
}

.site-wrapper{
  height: 45vh;
  box-shadow: 5px 5px 0.8 5px rgba(255, 255, 255, 1) ;
}